In [22]:
import pandas as pd

loading the dataset

In [23]:
data = pd.read_csv("C:/Users/Jai Shiv/Downloads/KaggleV2-May-2016.csv")

In [24]:
data

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [4]:
data.head(10)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÃšBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No

finding Null values

In [25]:
# Check for missing values
missing_values = data.isnull().sum()
print(missing_values)

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [26]:
data.shape

(110527, 14)

In [27]:
data = data[data['Age'] > 0]            #Remove rows with age â‰¤ 0

Remove Duplicate Rows

In [28]:
data=data.drop_duplicates()

In [29]:
data.shape

(106987, 14)

 Convert Date Formats to dd-mm-yyyy

In [30]:
data['ScheduledDay'] = pd.to_datetime(data['ScheduledDay'], errors='coerce').dt.strftime('%d-%m-%Y')
data['AppointmentDay'] = pd.to_datetime(data['AppointmentDay'], errors='coerce').dt.strftime('%d-%m-%Y')

Rename column headers to be clean and uniform

In [12]:
data.columns = data.columns.str.lower().str.replace(" ", "-", regex=False)

In [13]:
print(data)

           patientid  appointmentid gender scheduledday appointmentday  age  \
0       2.987250e+13        5642903      F   29-04-2016     29-04-2016   62
1       5.589978e+14        5642503      M   29-04-2016     29-04-2016   56
2       4.262962e+12        5642549      F   29-04-2016     29-04-2016   62
3       8.679512e+11        5642828      F   29-04-2016     29-04-2016    8
4       8.841186e+12        5642494      F   29-04-2016     29-04-2016   56
...              ...            ...    ...          ...            ...  ...
110522  2.572134e+12        5651768      F   03-05-2016     07-06-2016   56
110523  3.596266e+12        5650093      F   03-05-2016     07-06-2016   51
110524  1.557663e+13        5630692      F   27-04-2016     07-06-2016   21
110525  9.213493e+13        5630323      F   27-04-2016     07-06-2016   38
110526  3.775115e+14        5629448      F   27-04-2016     07-06-2016   54

            neighbourhood  scholarship  hipertension  diabetes  alcoholism  \
0         JARDIM DA PENHA            0             1         0           0
1         JARDIM DA PENHA            0             0         0           0
2           MATA DA PRAIA            0             0         0           0
3       PONTAL DE CAMBURI            0             0         0           0
4         JARDIM DA PENHA            0             1         1           0
...                   ...          ...           ...       ...         ...
110522        MARIA ORTIZ            0             0         0           0
110523        MARIA ORTIZ            0             0         0           0
110524        MARIA ORTIZ            0             0         0           0
110525        MARIA ORTIZ            0             0         0           0
110526        MARIA ORTIZ            0             0         0           0

        handcap  sms_received no-show
0             0             0      No
1             0             0      No
2             0             0      No
3             0             0      No
4             0             0      No
...         ...           ...     ...
110522        0             1      No
110523        0             1      No
110524        0             1      No
110525        0             1      No
110526        0             1      No

[106987 rows x 14 columns]

Check and fix data types (e.g., age should be int, date as datetime).

In [14]:
print(data.dtypes)

patientid         float64
appointmentid       int64
gender             object
scheduledday       object
appointmentday     object
age                 int64
neighbourhood      object
scholarship         int64
hipertension        int64
diabetes            int64
alcoholism          int64
handcap             int64
sms_received        int64
no-show            object
dtype: object

In [65]:
data

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [18]:
data.to_csv('cleaned_data.csv', index=False)